@font-face {
	  font-family: "SF Pro Text";
	  font-style: normal;
	  font-weight: 300;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}
@font-face {
	  font-family: "SF Pro Text";
	  font-style: normal;
	  font-weight: 400;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
}
@font-face {
	  font-family: "SF Pro Text";
	  font-style: normal;
	  font-weight: 500;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
}
@font-face {
	  font-family: "SF Pro Text";
	  font-style: normal;
	  font-weight: 600;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}
@font-face {
	  font-family: "SF Pro Text";
	  font-style: normal;
	  font-weight: 700;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
}
@font-face {
	  font-family: "SF Pro Text";
	  font-style: normal;
	  font-weight: 900;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 100;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Ultralight.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 200;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Thin.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 300;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 400;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 500;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 600;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 700;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 800;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Black.ttf");
}
@font-face {
	  font-family: "SF Pro Display";
	  font-style: normal;
	  font-weight: 900;
	  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Heavy.ttf");
}

html{
	font-family: "SF Pro Text", "SF Pro Display", Arial;
	font-size: 17px;
	cursor:default;
	--color-figure-grey: rgb(29, 29, 31);
}

hr {
	border: 0;
	border-top: 1px solid #A0A0A0;
	margin: 4px 0;
}

a {
	text-decoration: none;
	color: var(--color-figure-grey);
	cursor: ne-resize;
}

a:hover {
	text-decoration: underline;
	cursor: ne-resize;
}

a:visted {
	color: var(--color-figure-grey);
	text-decoration: none;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 16px;
}

.mt-1{
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.row {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.col {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}

.justify-center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.heading-container {
	justify-content: center;
	margin: 48px 0 0 0;
}

.heading-font {
	font-size: 2rem;
	font-weight:700;
	color: var(--color-figure-grey);
}

.sub-heading-container{
	justify-content: center;
	margin: 8px auto 0 auto;
}

.sub-heading-font {
	font-size: 1rem;
	color: var(--color-figure-grey);
}

.intro-container {
	margin: 16px 0;
}


.section-container {
	margin-top: 8px;
}

.section-font {
	font-size: 1rem;
	color: var(--color-figure-grey);
}

.topic-container {
	padding: 16px 32px;
}

.topic-font-title {
	font-size: 1rem;
	font-weight: 600;
	color: var(--color-figure-grey);
}

.bold {
	font-weight: 600;
}

.topic-font-body{
	font-size: 1rem;
	font-weight:400;
	color: var(--color-figure-grey);
}

.skill-list-container{
	margin: 0 0 0 16px;
}

.paragraph-container {
	margin: 16px 16px;
}

.paragraph-font {
	text-indent: 32px;
}

.italic{
	font-style: italic;
}

.font-small {
	font-size: 0.8rem;
}
